<head>
  <title>candidb</title>
</head>

<template name="dash">
	<div id="candidate-overview" class="abs-container">
		<div class="view-header">
			<h1>Candidates</h1>
			<button class="circle-button" id="add-new-candidate">
				<span class="icon-plus"></span>
			</button>
		</div>
		<div id="dash-cards">
			{{#if Template.subscriptionsReady}}
				{{#each getCandidates}}
					{{> candidateCard}}
				{{/each}}
			{{else}}
				<h4>Loading...</h4>
			{{/if}}
		</div>
		{{> addCandidate}}
	</div>
</template>
